# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [75]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json


# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [35]:
csvpath = os.path.join("../output_data/city_data.csv")
city_df = pd.read_csv(csvpath)
del city_df['Unnamed: 0']
city_df["date"] = pd.to_datetime(city_df['date'], unit='s')
city_df.head(100)

,city,country,date,lat,lon,temp,hum,clouds,wind
0,oistins,BB,2020-04-05 23:25:00,13.07,-59.53,80.60,78,40,13.87
1,saint-philippe,RE,2020-04-05 23:25:00,-21.36,55.77,69.48,78,16,5.82
2,sovetskaya,RU,2020-04-05 23:25:00,44.78,41.17,41.00,3,84,11.01
3,hofn,IS,2020-04-05 23:25:00,64.25,-15.21,45.63,87,100,18.99
4,porto novo,BJ,2020-04-05 23:25:00,6.50,2.60,82.60,80,61,8.55
...,...,...,...,...,...,...,...,...,...
95,chimoio,MZ,2020-04-05 23:25:06,-19.12,33.48,68.00,88,40,2.77
96,vila franca do campo,PT,2020-04-05 23:25:06,37.72,-25.43,59.00,87,40,5.82
97,kodiak,US,2020-04-05 23:25:06,57.79,-152.41,42.80,38,1,19.46
98,seoul,KR,2020-04-05 23:23:27,37.57,126.98,38.17,80,1,1.54
99,sur,OM,2020-04-05 23:25:06,22.57,59.53,85.44,32,0,8.55

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:
gmaps.configure(api_key=g_key)

In [34]:
locations = city_df[["lat", "lon"]]
hum = city_df["hum"].astype(float)

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=hum, 
                                 dissipating=False, max_intensity=3,
                                 point_radius=2)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [55]:
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.
# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

ideal_vacay = city_df.loc[(city_df["temp"] >=70)& (city_df["temp"] <=90) & (city_df["wind"] <=5) & (city_df["clouds"] ==0)]
ideal_vacay = ideal_vacay.dropna(how='any')
ideal_vacay_df = ideal_vacay.reset_index(drop=True)
ideal_vacay_df 

vacay = ideal_vacay_df[["lat", "lon"]]
humd = ideal_vacay_df["hum"].astype(float)

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(vacay, weights=humd, 
                                 dissipating=False, max_intensity=3,
                                 point_radius=2)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [67]:
hotel_df = ideal_vacay_df
hotel_df["Hotel Name"] = ""
hotel_df

,city,country,date,lat,lon,temp,hum,clouds,wind,Hotel Name
0,churhat,IN,2020-04-05 23:25:11,24.43,81.67,73.98,21,0,3.87,
1,salalah,OM,2020-04-05 23:25:14,17.02,54.09,78.80,69,0,3.36,
2,naraini,IN,2020-04-05 23:25:15,25.18,80.48,77.09,22,0,2.33,
3,quelimane,MZ,2020-04-05 23:25:20,-17.88,36.89,75.20,88,0,2.66,
4,khargone,IN,2020-04-05 23:25:25,21.82,75.60,79.63,16,0,3.24,
5,umm lajj,SA,2020-04-05 23:25:28,25.02,37.27,81.86,42,0,3.06,
6,marzuq,YE,2020-04-05 23:25:28,14.40,46.47,72.05,27,0,3.56,

In [103]:
params = {
    "radius": 5000,
    "keyword": "hotel",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    lat = row["lat"]
    lng = row["lon"]
    
    location = row["city"]
    print(f"Retrieving Results for Index {index}: {location}.")

    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"  
    response = requests.get(base_url, params=params).json()
    results = response["results"]
#     print(json.dumps(results, indent=4, sort_keys=True))

    try:
        print(f"Closest hotel is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = response["results"][0]["name"]

    except (KeyError, IndexError):
        print("No hotel within 5000 meters")
    print("______________________________________________________")

Retrieving Results for Index 0: churhat.
No hotel within 5000 meters
______________________________________________________
Retrieving Results for Index 1: salalah.
Closest hotel is Salalah Gardens Hotel.
______________________________________________________
Retrieving Results for Index 2: naraini.
Closest hotel is Suresh hotel.
______________________________________________________
Retrieving Results for Index 3: quelimane.
Closest hotel is Hotel Elite.
______________________________________________________
Retrieving Results for Index 4: khargone.
Closest hotel is Hotel Indigo Inn.
______________________________________________________
Retrieving Results for Index 5: umm lajj.
Closest hotel is عروس الشاطئ للوحدات السكنية المفروشة.
______________________________________________________
Retrieving Results for Index 6: marzuq.
No hotel within 5000 meters
______________________________________________________

In [97]:
hotel_df

,city,country,date,lat,lon,temp,hum,clouds,wind,Hotel Name
0,churhat,IN,2020-04-05 23:25:11,24.43,81.67,73.98,21,0,3.87,
1,salalah,OM,2020-04-05 23:25:14,17.02,54.09,78.80,69,0,3.36,Salalah Gardens Hotel
2,naraini,IN,2020-04-05 23:25:15,25.18,80.48,77.09,22,0,2.33,Suresh hotel
3,quelimane,MZ,2020-04-05 23:25:20,-17.88,36.89,75.20,88,0,2.66,Hotel Elite
4,khargone,IN,2020-04-05 23:25:25,21.82,75.60,79.63,16,0,3.24,NAKSHATRA HOTEL AND RESORT
5,umm lajj,SA,2020-04-05 23:25:28,25.02,37.27,81.86,42,0,3.06,عروس الشاطئ للوحدات السكنية المفروشة
6,marzuq,YE,2020-04-05 23:25:28,14.40,46.47,72.05,27,0,3.56,

In [105]:
# NOTE: Do not change any of the code in this cell
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

KeyError: 'City'

In [ ]:
# Add marker layer ontop of heat map


# Display Map